.reg_main{
    width: 500px;
    margin: auto;
    margin-top: 10px;

}

.Reg_Card{
    background-image: url(https://wallpaperaccess.com/full/4412136.jpg);
background-size: cover;
background-position: center;
color: white;

}   